@import "../../variables.scss";

.findIntern {
  width: 100%;
  height: 84%;
  display: flex;
  margin-top: 30px;
  gap: 30px;
  .left {
    margin-left: 20px;
    flex: 1;
  }

  .right {
    margin-right: 30px;
    flex: 3;
  }
}
