@import "../../variables.scss";

.checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;

  height: 20px;
  width: 20px;
  .checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background: #fff;
  }

  input {
    display: none;

    &:checked ~ .checkmark {
      background: $lightpurple;
    }

    &:disabled ~ .checkmark {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
